html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-style: sans-serif;
}
body{
    background-image: url('https://jiayuemeng.github.io/Twine-Project-Adventure/images/悬崖摸龙.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    font-size: 45px;
}
.but{
    width: 180px;
    min-height: 10px;
    display: block;
    background-color: #FFA833;
    color: black;
    font-size: 14px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}
.but1{
    width: 120px;
    min-height: 10px;
    display: block;
    background-color: #FDF2AF;
    color: black;
    font-size: 12px;
    line-height: normal;
    border-radius: 5px;
    margin-left: 100%;
    margin-top: 10px
}
textarea {
  width: 350px;
  height: 200px;
}
